body, input {
  color: #111111;
  font-family: Arial;
  margin: 0;
  font-size: 13px; }

#page-wrapper {
  width: 960px;
  margin: 0 auto; }

header {
  float: left;
  width: 219px; }

p {
  margin-right: 20px; }

#content {
  width: 700px;
  float: right;
  background-color: #F5F5F5;
  padding-left: 20px;
  border-left: 1px solid #CFCFCF;
  box-sizing: border-box;
  padding-right: 20px; }

.portfolio-wrappper {
  display: inline-block;
  width: 217px; }

.portfolio-wrappper h1 {
  display: none; }

article h1 {
  font-size: 49px;
  font-weight: 700;
  line-height: 1.3;
  font-family: "Titillium Web"; }
article #home-link {
  float: right;
  position: relative;
  top: -5px; }
  article #home-link a {
    text-decoration: none;
    color: #ababab; }
    article #home-link a:hover {
      color: #111111; }
article .details {
  margin: 20px 0;
  padding: 0; }
article .details li {
  list-style: none;
  display: inline-block;
  margin-right: 2em;
  text-transform: uppercase;
  line-height: 1.825em;
  border-right: 1px dashed #cfcfcf;
  padding-right: 2em; }
  article .details li em {
    color: dimgrey;
    display: block; }
  article .details li:last-child {
    border: none; }
  article .details li span {
    padding: 3px 0 0; }
article .field-type-taxonomy-term-reference .field-item {
  display: inline-block;
  margin-right: 5px; }

a {
  text-decoration: none;
  color: #ababab; }
  a:hover {
    color: #111111; }

#nav-article {
  padding: 20px 0;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  margin: 0 0 30px;
  overflow: hidden; }
  #nav-article .right {
    float: right;
    text-transform: uppercase; }
  #nav-article .left {
    float: left;
    text-transform: uppercase; }
  #nav-article a {
    text-decoration: none;
    color: #ababab; }
    #nav-article a:hover {
      color: #111111; }

input[type="submit"] {
  background-color: #111111;
  color: #FFFFFF;
  padding: 5px 14px;
  font-size: 14px;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  border: medium none;
  cursor: pointer; }

input[type="text"], input[type="email"] {
  padding: 3px; }

input[type="text"], input[type="password"], input[type="email"], textarea {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CFCFCF;
  color: #696969; }

input, input[type="text"], input[type="password"], input[type="email"], textarea {
  transition: border-color 0.2s ease 0s; }

/*Navigation menu starts desktop here */
#main-menu li {
  list-style: none;
  margin-bottom: 8px; }
  #main-menu li a {
    color: dimgrey; }
    #main-menu li a:hover {
      color: #111111;
      text-decoration: underline; }
#main-menu li li {
  margin-left: 3px; }
  #main-menu li li:before {
    content: "·";
    padding-right: 4px; }
#main-menu li.expanded > a:after {
  content: "\a0\20 +";
  display: inline;
  font-size: 8px;
  font-style: normal;
  font-weight: normal; }
#main-menu ul ul {
  display: none;
  margin: 0;
  padding: 0; }
  #main-menu ul ul .first {
    margin-top: 8px; }

/*Navigation menu ends desktop here */
/*Media Queries Starts Here */
@media screen and (max-width: 800px) {
  #page-wrapper {
    width: 100%;
    margin: 0;
    padding: 0; } }

@media screen and (max-width: 800px) {
  header {
    float: none;
    width: 100%; } }

@media screen and (max-width: 800px) {
  #content {
    width: 100%;
    float: none;
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (max-width: 800px) {
  .portfolio-wrappper {
    width: 31%; } }

@media screen and (max-width: 800px) {
  #nav-article .right {
    margin-right: 17px; } }

@media screen and (max-width: 800px) {
  article #home-link {
    left: -17px; } }

/*Media Queries Ends Here */
