$color:#111111;
$fontfamily:'Titillium Web';
$linkcolor:#ABABAB;
$mainlinkcolor:#696969;
body,input
{
  color:$color;
  font-family:Arial;
  margin:0;
  font-size:13px;
}
#page-wrapper
{
    width:960px;
    margin:0 auto;
}
header
{
    float:left;
    width:219px;
    
}
p{
    margin-right:20px;
}
#content
{
    width:700px;
    float:right;
    background-color:#F5F5F5;
    padding-left:20px;
    border-left: 1px solid #CFCFCF;
    box-sizing:border-box;
    padding-right:20px;
}
.portfolio-wrappper
{
    display:inline-block;
    width:217px;
}
.portfolio-wrappper
{
        h1{
            display:none;
        }
    
}
@mixin linkstyles{
    text-decoration:none;
    color:$linkcolor;
    &:hover{color:$color;}
}
article
{
    h1{
    font-size: 49px;
    font-weight: 700;
    line-height: 1.3;
    font-family: $fontfamily;
            }
    #home-link{
        float:right;
        position:relative;
        top:-5px;
                a{
                    @include linkstyles;
                }
                
    }
    .details{
        margin:20px 0;
        padding:0;
            }
    .details li{
        list-style:none;
        display:inline-block;
        margin-right: 2em;
        text-transform: uppercase;
        line-height: 1.825em;
        border-right: 1px dashed #cfcfcf;
        padding-right: 2em;
        em{
            color:$mainlinkcolor;
            display:block;
        }
        &:last-child{
            border:none;
        }
        span{
            padding: 3px 0 0;
        }
    }
    .field-type-taxonomy-term-reference .field-item{
            display:inline-block;
            margin-right:5px;
            }
}
a{
    @include linkstyles;
}
#nav-article
{
        .right{
            float:right;
            text-transform:uppercase;
        }
        .left{
            float:left;
            text-transform:uppercase;
        }
        padding: 20px 0;
    a{
        @include linkstyles;
    }
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 0 0 30px;
    overflow:hidden;
}
input[type="submit"]
{
    background-color:#111111;
    color:#FFFFFF;
    padding: 5px 14px;
    font-size: 14px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    border: medium none;
    cursor:pointer;
}
input[type="text"], input[type="email"] {
    padding: 3px;
}
input[type="text"], input[type="password"], input[type="email"], textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CFCFCF;
    color: #696969;
}
input, input[type="text"], input[type="password"], input[type="email"], textarea {
    transition: border-color 0.2s ease 0s;
}
/*Navigation menu starts desktop here */
#main-menu{
        li{
            list-style:none;
            margin-bottom:8px;
            a{
            color:$mainlinkcolor;
             &:hover{
            color:$color;        
            text-decoration:underline;
            }
             }
             
        }
        li li
        {
         margin-left:3px;
         &:before{
        content: "·";
        padding-right: 4px;     
        }   
        }
        li.expanded > a{
         &:after{
             content: "\a0\20 +";
             display: inline;
             font-size: 8px;
             font-style: normal;
             font-weight: normal;
            
}   
}
       ul ul{
           display:none;
           margin:0;
           padding:0;
       .first{
           margin-top:8px;
}
}
}
/*Navigation menu ends desktop here */



/*Media Queries Starts Here */
@mixin clear-styles{
    margin:0;
    padding:0;
    }
@mixin respond-to($media) {
    @if $media == ipad {
        @media screen and (max-width: 800px)
         { @content; }
    }
 
 }

#page-wrapper{
        @include respond-to(ipad) { 
                width:100%;
                @include clear-styles;
                }
           
    }
header {
    @include respond-to(ipad) { 
        float: none;
        width:100%;
    }
  
}
#main-menu{
        @include respond-to(ipad){
            
        }
}
#content{
        @include respond-to(ipad){
            width:100%;
            float:none;
            padding-left:10px;
            padding-right:10px;
        }
    
    }
.portfolio-wrappper
    {
        @include respond-to(ipad){
            width:31%;      
        }
      
}
#nav-article .right
{
     @include respond-to(ipad){
            margin-right:17px;      
        }
}
article #home-link
{
    @include respond-to(ipad){
            left:-17px;      
        }
}
/*Media Queries Ends Here */